

h1{
    font-size: 24px;
    color: #454352;
    padding-bottom: 5%
}
h2{
    font-size: 20x;
    color: hsl(245, 39%, 12%);
    padding-top: 2%;
    padding-bottom: 0%;
    padding-bottom: 0%
    
}
.footer a{
    
    color:rgb(104, 104, 104);
    text-decoration: none;
    border: transparent 1px;
    
}
h3{
    color: #635c86;
    padding-bottom: 5%;
    
}
  
a{
    color: hsl(263, 44%, 20%);
    
}

p{

        color: #272323;
        font-size: 18px;
        line-height: 1.3;
        
}

blockquote{
    color: #231d49;
}
li{
    font-size: 20px;
    align-items: center;
    font-weight: lighter; 
    
}
img{
    max-width: 100vw;
    max-height: 30vh;
    float: center;
    border: 2.5px hidden #58466657;
    border-radius: 10px;
    

    /*margin-right: 15px;*/
        /*justify-content: center;*/
    

}
.avatarBox
{
    img{
        justify-content: center;
        border: 2px solid #918F9C;
        max-width: 40%;
        margin-left: 30%;
        /*justify-content: center;*/
        
    
    }
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    padding-top: 5%;
    padding-bottom: 5%;
    
}
button{
    flex:auto;
    flex-direction: rows;
    border-radius: 5px;
    align-self: left;
    max-height: 35vh;
    max-width: 14vw;
    min-height: none;
    min-width: 15%;
    height: 4.3vh;
    width: 60%;
    justify-content: left;
    align-content: left;
    text-align: center;
    border: 2.5px solid #918F9C;
    padding: 0%;
}

.my-div{
    text-align: center;
    
}
