@import url('sidebar-nav.css');
@import url('home-page.css');
@media(max-width:320px)
{
    

    .card{
        justify-self: center;
        justify-content: center;
        justify-items: center;
        
        max-width: 58%;
    }

    
    .nav-bar li{
        float : center;
        text-align: center;
        margin: 1%;
        height: 5vh;
        width: 45vw;
        padding-left: 10%;
        
     }
     .nav-bar {
    
        align-items: center;
        text-align: center;
        grid-area: sd sd sd;
        height: auto;
        width: 100%;
        

        
    }
    

    body{
       
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: contain;
        min-height: 10vh;
        
        color: #fffff8;
        font-size: 18px;
        width: 125%;
        

        
    }

    .wrapper2 .sidebar-nav {

        /*padding-left: 5%;*/
        /*margin-right: -20%;*/
        /*margin-left: 15%;*/
        margin: 10%;
        width: 75vw;
        height: 75vh;
        position: relative;
        align-items: right;

    }

    button{
        flex:auto;
        flex-direction: rows;
        border-radius: 5px;
        align-self: left;
        height: 91%;
        width: 25%;
        max-height: 5vh;
        max-width: 30%;
        min-height: none;
        min-width: 25%;
        justify-content: left;
        align-content: left;
        text-align: center;
    
        border: 2.5px solid #918F9C;
        padding: 0%;
        margin: 2.5%;
    }
    ul{
        font-size: 13.5px;
        
    }
    .content{
        margin-top: 5%;
        

        object-fit: contain;
   
    }
    .container{

    object-fit: contain;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 15%;
    border: 5px solid aquamarine;
    justify-self: center;
    padding: 0%;
    margin: -5%;
    padding-right: 0%;
    padding-bottom: 10%;
    max-width: fit-content;
    
    }
   
    .button-three{
        font-size: 65px;
        margin: 4%;
    }
    img{
        max-width:75vw;
        max-height: fit-content;
        
        

    }
    .wrapper{
        margin: 10vw auto;
        
        
    }
    
    .slider-wrapper{
        overflow: hidden;
        max-width: 75vw;
        
        
    }
    .footer{
        padding: 15%;
        align-items: center;
    }
    .photoBox
    {
        max-width: 75%;
        width: 50%;
        justify-self: center;
        margin-left: 10%;
    }


}
@media(min-width: 321px) and (max-width:445px){
    h2{
        font-size: 21.5px;
        padding-bottom: 5%;      
    }

    .card{
        justify-self: center;
        justify-content: center;
        justify-items: center;
        
        
        max-width: 70%;
    }
    .container{
        
        padding: 0%;
  
        margin: 0%;
        width: 75vw; 
        max-width: 95%;
        margin-bottom: 5%;
        border:2px solid green ;
        justify-content: center;
        
        
    }
    img{
        max-width: fit-content;
    }
    body{
     width: 100vw;
     margin-right: 1%;
    
    }
    .wrapper2 .sidebar-nav {
        position:absolute;
        object-position: 1%;
        right: 0; 
        top: 0;
        width: 35vw;
        height: 77vh;
        margin-top: 60%;
        margin-right: -16%;
        background: #9696915d;
        text-align: left;
        padding-left: 1.5%;
        border-radius: 5px;
    }
    .photoBox{
        margin: 5%;
        max-width: 100%;
        justify-self: center;
        justify-content: center;
        align-self: center;
        align-items: center;
        align-content: center;
        justify-items: center;
    }
    .content {
        width: 60vw;
        justify-self: center;
        
        
    }

    .nav-bar li{
        padding-right: 10%;
        padding-left: 10%;
        font-size: 10px;
        
    }
    .nav-bar{
        margin: 0%;
        padding: auto ;
        padding-right: 0%;
        width:75vw        
    }
    
}
@media(min-width: 446px) and (max-width:599px){
    

    h2{
        font-size: 21.5px;
        padding-bottom: 5%;      
    }
    .container{
        padding: 0%;
        height: 100%;
        margin: 0%;
        width: 75vw; 
        max-width: 95%;
        margin-bottom: 5%;
        border:2px solid green ;
        justify-content: center;
        
        
    }
    img{
        max-width: fit-content;
    }
    body{
     width: 100vw;
     margin-right: 1%;
    
    }
    .wrapper2 .sidebar-nav {
        position:absolute;
        object-position: 1%;
        right: 0; 
        top: 0;
        width: 35vw;
        height: 77vh;
        margin-top: 60%;
        margin-right: -16%;
        background: #9696915d;
        text-align: left;
        padding-left: 1.5%;
        border-radius: 5px;
    }
    .photoBox{
        margin: 5%;
        max-width: 100%;
        justify-self: center;
        justify-content: center;
        align-self: center;
        align-items: center;
        align-content: center;
        justify-items: center;
    }
    .content {
        width: 60vw;
        justify-self: center;
        
    }

    .nav-bar li{
        padding-right: 10%;
        padding-left: 10%;
        font-size: 10px;
        
    }
    .nav-bar{
        margin: 0%;
        padding: auto ;
        padding-right: 0%;
        width:75vw        
    }
    
    
}
@media(min-width:600px) and (max-width:900px){
    .avatarBox{
        max-width: 100%;
        width: 75%;
    }
    body{

    
        width: 97vw;
        margin: 6%;
        align-content: center;
        justify-content: center;
        justify-items: center;
        align-items: center;
        
        
    }
    .wrapper2 .sidebar-nav {

        /*padding-left: 5%;*/
        /*margin-right: -20%;*/
        /*margin-left: 15%;*/
        margin-top: 53%;
        height: 75vh;
        position:absolute;
        align-items: right;

    }

    .nav-bar {
        
        padding-right: auto;
        padding-left: auto;
    }
    .nav-bar li{

        
        margin: 0.5%;
        margin-right: 2.0%;
        margin-left: 1.45%;

        float: left;
        padding-right: 1.50%;
        padding-left: 1.5%;

    
    }
    .container{
        
        padding: 0%;
        width: auto;
        height: auto;
        margin: 2.5%;
        justify-self: center;
        border-radius: auto;
        border-style:groove;
        border: 2px solid #9900ff;
        box-shadow: 100% rgb(51, 31, 70);
        
    }


    .content {
        display: grid;
        text-align: center;
        justify-content: center;
        
     
        
    }
    slider-wrapper{
        content: fill;
        max-width: 20%;

    }
    img{
        
        justify-items: center;
        align-items: center;
        
        
    }
}
@media(min-width:901px) 
{
    .avatarBox{
        max-width: 100%;
        width: 75%;
    }

    .wrapper2 .sidebar-nav {

        /*padding-left: 5%;*/
        /*margin-right: -20%;*/
        /*margin-left: 15%;*/
        width: 25vw;
        height: 75vh;
        margin-top: 40%;
        margin-right: -5%;
        position:absolute;
        align-items: right;
        
    }
    
    body{
        display: flex;
        width: 100vw;
        margin: 5%;
        align-content: center;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }

    .container{


       
        height: auto;
        margin: 2.5%;
        border: 5px solid yellow;
        justify-self: center;
        border-radius: auto;
        border-style:groove;
        justify-content: center;  
    }
    
    .nav-bar li{

        float: center;
        margin: 1%;
        padding-left: 7.75%;

    
    }
    .nav-bar{
        width: 100%;
    }
}



@media(min-width:1101px){
    justify-content center
    justify-items center
    align-items center
    
    .header{
        padding-top: 95vh;
        margin-top: 15%;


    }
    .content{
        width: 85%;
        max-height: content;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin: 10%;
    }
   
    .wrapper2 .sidebar-nav {
        /*padding-left: 5%;*/
        /*margin-right: -20%;*/
        /*margin-left: 15%;*/
        margin-top: 42%      
    }
    .body{
        
        display: flex;
        
        /*margin: 25%;*/
        flex-direction: column;
        
       
    }
    .container{
        width: 85%;
        height: auto;
        max-width: 74vw;
        margin: 2%;
    }

    .img{
        margin-top: auto;
        max-width: 500px;
    }
    .avatarBox{
        max-width: 100%;
        width: 75%;
    }
    .nav-bar li{    
    margin-left: .75%;
    margin-right: 2.40%;
    float: left;
    padding-right: 4%;
    padding-left: 4%;

}

.nav-bar{
    width: 62vw;
    
}

}